* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #101010;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 8% 0 8%;
}
nav ul li {
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: lightseagreen;
}

.logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
.logo span {
  color: rgb(225, 54, 15);
}

.btn {
  background-color: lightseagreen;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.2);
  border-radius: 20px;
}

.content {
  padding-top: 230px;
}
.content .body {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
  padding-left: 270px;
}
.content .body img {
  width: 800px;
  height: auto;
  margin-top: -150px;
}

.portfolioInfo h1 {
  color: #fff;
  margin: 20px 0 20px;
  font-size: 50px;
}
.portfolioInfo h1 span {
  color: rgb(225, 54, 15);
}
.portfolioInfo h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
}
.portfolioInfo h4 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  position: relative;
}
.newsletter form input:first-child {
  width: 100%;
  padding: 15px 130px 15px 15px;
  outline: none;
  border-radius: 20px;
}
.newsletter form input:last-child {
  position: absolute;
  border: none;
  top: 5px;
  right: 6px;
  padding: 10px 30px;
  background-color: lightseagreen;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.about {
  width: 100%;
  padding: 100px 0;
  background-color: #191919;
  color: #fff;
}
.about .main {
  width: 1130px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.about img {
  width: 204px;
  height: 306px;
}
.about button {
  background-color: lightseagreen;
  padding: 13px 30px;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s;
}
.about button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid green;
}

.about-text {
  width: 550px;
  letter-spacing: 1px;
}
.about-text h2 {
  font-size: 75px;
  margin-bottom: 20px;
}
.about-text h5 {
  font-size: 22px;
  margin-bottom: 25px;
}
.about-text p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 45px;
}

.portfolio {
  width: 100%;
  padding: 100px 0;
  background-color: black;
}
.portfolio .title h2 {
  color: #fff;
  font-size: 75px;
  margin: 30px auto;
  text-align: center;
}
.portfolio .box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.portfolio .card {
  height: 390px;
  width: 500px;
  background-color: #191919;
  padding: 40px 35px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.portfolio .card i {
  color: lightseagreen;
  font-size: 50px;
  margin: 25px 0;
}
.portfolio .card h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
}
.portfolio .card .paragraph p {
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}
.portfolio .card .button {
  background-color: lightseagreen;
  padding: 13px 30px;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s;
}
.portfolio .card .button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid green;
}

.contact {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}
.contact p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact .contact-button {
  background-color: lightseagreen;
  padding: 13px 30px;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s;
}
.contact .contact-button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid green;
}/*# sourceMappingURL=style.css.map */