$textColor:#fff;
$textColorPatial:rgb(225, 54, 15);
$backgroundColor:#101010;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.hero{
    height:100vh;
    width:100%;
    background-color:$backgroundColor;
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:45px 8% 0 8%;
    & ul li{
        display:inline-block;
        padding:10px 25px;
        & a{
            color:$textColor;
            text-decoration: none;
            transition:all 0.3s;
            &:hover{
                color:lightseagreen;
            }
        }
    }
}

.logo{
    color:$textColor;
    font-size:35px;
    letter-spacing:1px;
    cursor:pointer;
    & span{
        color:$textColorPatial;
    }
}

.btn{
    background-color:lightseagreen;
    color:$textColor;
    padding:10px 25px;
    text-decoration: none;
    font-weight:bold;
    transition:all 0.3s;
    &:hover{
        transform:scale(1.2);
        border-radius:20px;
    }
}

.content{
    padding-top:230px;
    & .body{
        display:flex;
        justify-content: space-evenly;
        padding-right:50px;
        padding-left:270px;
        & img{
            width:800px;
            height:auto;
            margin-top:-150px;
        }
    }
}

.portfolioInfo{
    & h1{
        color:$textColor;
        margin:20px 0 20px;
        font-size:50px;
        & span{
            color:$textColorPatial;
        }
    }
    & h3{
        color:$textColor;
        font-size:20px;
        margin-bottom:50px;
    }
    & h4{
        color:$textColor;
        letter-spacing: 2px;
        font-size:20px;
    }
}
.newsletter{
    & form{
        width:380px;
        position:relative;
        & input:first-child{
            width:100%;
            padding:15px 130px 15px 15px;
            outline:none;
            border-radius: 20px;
        }
        & input:last-child{
            position:absolute;
            border:none;
            top:5px;
            right:6px;
            padding:10px 30px;
            background-color:lightseagreen;
            border-radius:30px;
            color:$textColor;
            cursor:pointer;
            box-shadow: 1px 1px 2px rgba(0,0,0);
        }
    }
}

.about{
    width:100%;
    padding:100px 0;
    background-color: #191919;
    color:$textColor;
    & .main{
        width:1130px;
        display:flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        
    }
    & img{
        width:204px;
        height:306px;
    }
    & button{
        background-color: lightseagreen;
        padding: 13px 30px;
        font-weight: bold;
        border-radius: 30px;
        color:$textColor;

        transition:all 0.3s;
        &:hover{
            background-color: transparent;
            cursor:pointer;
            border:2px solid green;
        }
    }
}

.about-text{
    width:550px;
    letter-spacing: 1px;
    & h2{
        font-size:75px;
        margin-bottom:20px;
    }
    & h5{
        font-size:22px;
        margin-bottom:25px;
    }
    & p{
        font-size:15px;
        line-height: 28px;
        margin-bottom:45px;
    }
}
